services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: diggindie-be
    ports:
      - "8080:8080"
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      TZ: Asia/Seoul
      REDIS_HOST: redis
      REDIS_PORT: 6379
    restart: unless-stopped
    networks:
      - app-network

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
    environment:
      TZ: Asia/Seoul
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis-data: